.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  background-color: #fff;
  color: grey;
  cursor: p;
}

.headerOptions__title {
  font-size: 12px;
  font-weight: 400px;
}

.headerOptions:hover {
  background-color: black;
}